body{
    background-color: bisque;
    font: normal 15pt ;
}

header{
    color: rgb(65, 69, 71);
    text-align: center;
}

#section{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.301) 5px 5px 10px;
}   

#footer{
    text-align: center;
    font-style: italic;
}